# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Node
node_modules/
dist/
.env.local

# Secrets
*.secret
secrets.yaml
.env
!.env.example

# ESPHome
.esphome/
esphome/.pioenvs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
