# Copia questo file in .env e personalizza i valori

POSTGRES_PASSWORD=cambia-questa-password
SECRET_KEY=chiave-segreta-jwt-molto-lunga-e-random
MQTT_TOKEN_SECRET=chiave-segreta-mqtt-molto-lunga-e-random
MQTT_INGESTOR_PASS=password-ingestor-mqtt
